{% extends "core/base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h4 class="text-center mb-3">Вход в систему</h4>

        <div class="card shadow-sm">
            <div class="card-body">
                {% if error %}
                <div class="alert alert-danger mb-3" role="alert">{{ error }}</div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Логин</label>
                        <input class="form-control" name="username">
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Пароль</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button class="btn btn-primary w-100 mb-3">Войти</button>
                </form>

                <div class="text-center">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'register' %}" class="link-secondary">
                        Регистрация нового сотрудника
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
